services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    command: --ISCAgent false
    restart: always
    ports: 
      - 1972
      - 52773
      - 53773
    volumes:
      - ./:/external
